// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Script para reproducir sonido
script.
    document.addEventListener('DOMContentLoaded', function () {
        const modal = document.getElementById('portfolioModal1');
        const openSound = new Audio('assets/sounds/Audiofeliz.mp3');
        const closeSound = new Audio('assets/sounds/Audiofeliz.mp3');

        modal.addEventListener('shown.bs.modal', function () {
            openSound.play();
        });

        modal.addEventListener('hidden.bs.modal', function () {
            closeSound.play();
        });
    });